<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='image/other/logo_icon.png') }}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Navigation Bar HTML -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Nittany Market</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <!-- Navigation Bar column HTML -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/checkinfo">Home</a>
           <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <title>Tester Products</title>
</head>

<!-- Show products -->
<body style="background-color:grey;">
    <div style="text-align:center;">
    <h3> Welcome to the Tester Products page! </h3>
    </div>

    <!-- Get product value through the form-->
     <form action="/viewcatalog" method="POST">
     <div style="text-align:center;">
     <input type="submit" value="View Catalog" id="login-form-submit" style="background-color:green">
     </div>
         <div class="container">
             <div class="row">
                <!-- Table format for products-->
                 <table class="table table-dark">
            <tr>
                <! Format of the table>
                <th scope="col"> Seller Email</th>
                <th scope="col"> Category</th>
                <th scope="col"> Title</th>
                <th scope="col"> Product Name</th>
                <th scope="col"> Product Description</th>
                <th scope="col"> Price</th>
                <th scope="col"> Quantity</th>
            </tr>
            <tbody>
             <!-- Table fields for products-->
            <!{% for username, categoryProd,titleProd, nameProd, descriptionProd, priceProd, quantityProd in result %}>
                <tr>
                    <! Format values>
                    <td> {{ username }} </td>
                    <td> {{ categoryProd }} </td>
                    <td> {{ titleProd }} </td>
                <td> {{ nameProd }} </td>
                    <td> {{ descriptionProd }} </td>
                <td> {{ priceProd }} </td>
                    <td> {{ quantityProd }} </td>

                </tr>
            <!{% endfor %}>
            </tbody>
        </table>


                </div>

             </div>
     </form>

</body>
</html>

